body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse {
    /*background-color: #602a2a;*/
    background: linear-gradient(#602a2a, #300);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-nav li.loader {
    margin: 12px 6px 0 6px;
    visibility: hidden;
}

.navbar-nav li.loader.active {
    visibility: visible;
}

/* Editing forms */
.error {
    color: #e01a1a;
}

.action-successful {
    color: #07a407;
}

.interface-warning {
    font-size: 2.0em;
    color: #e01a1a;
    text-align: center;
}

/* Custom Table Formatting */
.index-buttons {
    width: 60px;
}

.table-standard tr:nth-child(odd) {
    background-color: #fff;
}

.table-standard tr:nth-child(even) {
    background-color: #eee;
}

.table-standard tr:nth-child(odd):hover, .table-standard tr:nth-child(even):hover {
    background-color: #fafad2;
}

.table-celestial-objects tr:nth-child(odd) {
    background-color: #fff;
}

.table-celestial-objects tr:nth-child(even) {
    background-color: #eee;
}

.table-celestial-objects tr:nth-child(odd):hover, .table-celestial-objects tr:nth-child(even):hover {
    background-color: #fafad2;
}

.table-celestial-objects tr.draconic:nth-child(odd) {
    background-color: #fee;
}

.table-celestial-objects tr.draconic:nth-child(even) {
    background-color: #edd;
}

.table-celestial-objects tr.draconic:nth-child(odd):hover, .table-celestial-objects tr.draconic:nth-child(even):hover {
    background-color: #fdd;
}

/* Sign Element Colors */
.fire-sign {
    color: #c00;
}

.earth-sign {
    color: #0c0;
}

.air-sign {
    color: #990;
}

.water-sign {
    color: #00c;
}

/* Aspect Colors */
.conjunct-aspect {
    color: #0c0;
}

.opposition-aspect {
    color: #f00;
}

.square-aspect {
    color: #900;
}

.semisquare-aspect {
    color: #c00;
}

.sesquiquadrate-aspect {
    color: #600;
}

.trine-aspect {
    color: #009;
}

.sextile-aspect {
    color: #00c;
}

.quincunx-aspect {
    color: #990;
}

.quintile-aspect {
    color: #606;
}

.biquintile-aspect {
    color: #909;
}

.semisextile-aspect {
    color: #660;
}

.septile-aspect {
    color: #0cc;
}

.biseptile-aspect {
    color: #099;
}

.triseptile-aspect{
    color: #066;
}

.novile-aspect{
    color: #060;
}

.decile-aspect{
    color: #030;
}

/* Aspect List Styles */
.arabic-part
{
    font-style:italic;
}

.planet-luminary
{
    font-weight:bold;
}

.fixed-star
{
    font-style:italic;
    color:#999;
}

.house-cusp {
    font-weight:bold;
    font-style: italic;
    color: #009;
}

.draconic
{
    color:#900;
}

.coordinate-text, .coordinate-select, .aspect-input, .celestial-object, .entered-chart-data {
    border:solid 1px #0000cd;
}

.degree, .minutes, .seconds {
    width:30px;
}

.asteroid-fixed-star-name, .interpretation, .citation-url {
    width: 99%;
}

.interpretation, .citation-url {
    max-width: 99%;
}

.detail-interpretation {
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-weight: normal;
    word-wrap: break-word;
}

.ajax-loader {
    font-size: 2em;
    display: none;
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0;
    top: 0;
    text-align: center;
}

/* Autocomplete */

.ui-autocomplete-loading {
    /*background: white url("../Images/ajax-loader-goldenrod-processing.gif") right center no-repeat;*/
    background: transparent
                url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///8aOF/Djx9SrU8aOF9u5cOLHjebOmyH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==')
                right center no-repeat;
}

.ui-autocomplete { z-index:2147483647; }

.ui-helper-hidden-accessible { position: absolute; left:-999em; }

/* Page Specific */
#firstChartTableHeading, #secondChartTableHeading {
    font-size: 1.25em;
    font-style: italic;
}

/* Page Specific (for Media) */
@media (min-width: 992px) {
    #newAsteroidCoordinatesModal .modal-dialog {
        width: 750px;
    }

    #createAspectInterpretationModal .modal-dialog, #editAspectInterpretationModal .modal-dialog {
        width: 950px;
    }
}

